---
- name: Config hosts
  hosts: docker-servers

  handlers:
  # handler restart docker
  - name: Restart docker
    service: name=docker state=restarted
    sudo: yes

  tasks:
  # load vars
  - include_vars: common.yml

  # synchronize local images with servers
  - name: Copy docker images
    synchronize: src=remote_files dest=/tmp/

  # install docker package on servers
  - name: Install docker ubuntu package
    apt: deb=/tmp/remote_files/docker-engine_{{docker_version}}-0~trusty_amd64.deb
    sudo: yes
    when: distribution == "ubuntu"

  - name: Install docker CentOS7 package
    yum: =/tmp/remote_files/docker-engine-{{docker_version}}-1.el7.centos.x86_64.rpm
    sudo: yes
    when: distribution == "centos"

  # config docker package on servers
  - name: Configure docker package
    template: src=templates/default_docker dest=/etc/default/docker
    sudo: yes
    when: distribution == "ubuntu"
    notify:
      - restart docker

  # load docker images
  - name: Verify if docker images are loaded
    command: docker images -q {{item}}
    sudo: yes
    with_flattened:
      - "{{docker_images}}"
    register: load_image_status

  - name: Load docker images
    command: docker load -i /tmp/remote_files/images/{{item}}.tar
    sudo: yes
    with_flattened:
      - "{{docker_images}}"
    when: load_image_status|failed

  # run consul container on servers
  - name: Verify if consul container are running
    command: docker ps -qf name=consul
    sudo: yes
    register: consul_container_status

  - name: Run consul container
    sudo: yes
    command: >
      docker run -d -v /data/consul:/data/consul \
      --name consul \
      --restart=always \
      -p 8300:8300 \
      -p 8301:8301 \
      -p 8301:8301/udp \
      -p 8302:8302 \
      -p 8302:8302/udp \
      -p 8400:8400 \
      -p 8500:8500 \
      -p 53:53/udp \
      progrium/consul -server -advertise {{advertise_ip}} -bootstrap
    when: consul_container_status|failed

  # run consul-registrator container on servers
  - name: Verify if consul-registrator container are running
    command: docker ps -qf name=registrator
    sudo: yes
    register: consul_registrator_container_status

  - name: Run consul-registrator container
    sudo: yes
    command: >
      docker run -d -v /var/run/docker.sock:/tmp/docker.sock \
      --name registrator \
      --restart=always \
      gliderlabs/registrator -ip {{advertise_ip}} -resync 5 consul://{{advertise_ip}}:8500
    when: consul_registrator_container_status|failed

  # run consul-template container on servers
  - name: Verify if consul-template container are running
    command: docker ps -qf name=consul-template
    sudo: yes
    register: consul_template_container_status

  - name: Run consul-template container
    sudo: yes
    command: >
      docker run -d \
      --name consul-template \
      --restart=always \
      -v /var/run/docker.sock:/tmp/docker.sock \
      -v /data/tsuru:/data/tsuru \
      -v /data/router:/data/router \
      -v /data/gandalf:/data/gandalf \
      -v /data/archive-server:/data/archive-server \
      tsuru/consul-template
    when: consul_template_container_status|failed
