---
- name: Config hosts
  hosts: docker-servers

  handlers:
  - name: Restart docker
    service: name=docker state=restarted
    sudo: yes

  tasks:
  - include_vars: common.yml

  - name: Copy docker images
    synchronize: src=remote_files.tar.gz dest=/tmp/

  - name: Unarchive files
    unarchive: >
      copy=no
      src=/tmp/remote_files.tar.gz
      dest=/tmp/
      mode=0755

  - name: Install docker ubuntu package
    apt: deb=/tmp/remote_files/docker-engine_{{docker_version}}-0~trusty_amd64.deb
    sudo: yes
    when: distribution == "ubuntu"

  - name: Install docker CentOS7 package
    yum: =/tmp/remote_files/docker-engine-{{docker_version}}-1.el7.centos.x86_64.rpm
    sudo: yes
    when: distribution == "centos"

  - name: Configure docker package
    template: src=templates/default_docker dest=/etc/default/docker
    sudo: yes
    when: distribution == "ubuntu"
    notify:
      - restart docker

  - name: Load docker images
    command: docker load -i /tmp/remote_files/images/{{item}}.tar
    sudo: yes
    with_flattened:
      - "{{docker_images}}"

  - name: Run consul container
    sudo: yes
    command: >
      docker run -d -v /data/consul:/data/consul \
      --name consul \
      -e SERVICE_NAME="consul" \
      --restart=always \
      -p 8300:8300 \
      -p 8301:8301 \
      -p 8301:8301/udp \
      -p 8302:8302 \
      -p 8302:8302/udp \
      -p 8400:8400 \
      -p 8500:8500 \
      -p 53:53/udp \
      progrium/consul -server -advertise {{advertise_ip}} -bootstrap
